APP_NAME=RiExport API
APP_ENV=development
API_V1_PREFIX=/api/v1
LOG_LEVEL=DEBUG
CORS_ORIGINS=
CORS_ALLOW_CREDENTIALS=false
DATABASE_URL=postgresql+psycopg://usuario:contrasena@127.0.0.1:5432/riexport
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_ISSUER=riexport-api
